form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
form h1{
    margin-top: 2em;
}
form input{
    width: 100%;
    padding: 0.8em 0.5em;
    border: 1px solid cadetblue;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 1em;
    box-sizing: border-box;
}
form input::placeholder{
    color: cadetblue;
    outline: none;
}
form textarea::placeholder{
    color: cadetblue;
    font-size: 16px;
 
}
form textarea{
    border-radius: 4px;
    width: 100%;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    font-size: 16px;
}
form button{
    width: 9em;
    height: 2.8em;
    font-weight: bold;
    color:  white;
    background-color: cadetblue;
    border: none;
    border-radius: 4px;
}
.load{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.834);
    z-index: 5;
    height: 100vh;
    display: none;
}
.load h3{
text-align: center;
margin-top: 40vh;
color: white;
font-weight: bold;
}